
.header {
    display: flex;
    padding: 5vw;
    font-family: Arial;
    font-size: 2.5em;
    font-weight: bold;
    background-color: #CABBB7;
    justify-content: space-between;
    }

.main {
    font-family: Arial;
    }

#logo1 {
    width: 30%;
    height: 30%
    }    

h1 {
    text-align: center;
    font-size: 4rem;
    }

nav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-right: 3vw;
    overflow: hidden;
    background-color: #C65252;
    }
  
nav li {
    float: right;
    }
  
nav li a {
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:white;
} 
.container1 {
    width: 90vw;
    height: 25vw;
    margin: auto; 
    padding: 5vh 0 10vh 0;
    object-fit: cover;
}

.article1 { 
    text-align: center;
}

.article1 > img {
    width: 90vw;
    height: 25vw;
    margin: 0; 
    padding: 0;
    object-fit: cover;
} 

.container2_3 {
    width: 90vw;
    margin: auto; 
    padding-bottom: 10vh;
}

.article2 {
    float: left;
    margin: 0;
    padding-right: 1vw;
    text-align: center;
}

.article2 > img {
    max-width: 43vw;
    margin: 0;
    object-fit: cover;
}

.article3 {
    float: right;
    margin: 0;
    padding-left: 1vw;
    text-align: center;
}

.article3 > img {
    max-width: 43vw;
    margin: 0;
    object-fit: cover;
}

.imgcaption {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.footer {
    display: inline-block;
    width: 100vw;
    margin-top: 5vh;
    padding-top: 5vh;
    text-align: center;
    font-family: Arial;
    font-size: 1em;
    font-weight: bold;
    background-color: #CABBB7;
    }
#logo2 {
    width: 15%;
    height: 15%
    }    